<h1>Agent: <%= @seller.name %></h1>
<hr />

 <h3>Phone Number: <%= @seller.phone_number %></h3>
 <h3>Email: <%= @seller.email %></h3>


<hr />
<button type='button'>
<%= link_to 'Home Page', sellers_path %>
</button>

<button type='button'>
<%= link_to 'Homes for Sale', seller_homes_path(@seller) %>
</button>

<button type='button'>
<%= link_to 'Edit Profle', edit_seller_path %>
</button>

<button type='button'>
  <%= link_to 'Delete', seller_path(@seller), method: :delete %>
</button>