<h1>Address</h1>
<hr />

<h3>
<%= @address.street %>
<br />
<%= @address.city %>

, <%= @address.state %>

<%= @address.zip %>
<br />
</h3>

<button type='button'>
<%= link_to 'Edit Address', edit_seller_home_address_path(@seller, @home, @address) %>
</button>
<hr />

<button type='button'>
<%= link_to 'Delete Address', seller_home_address_path(@seller, @home, @address), method: :delete %>
</button>

<button type='button'>
<%= link_to 'Back', seller_home_path(@seller, @home)%>
</button>