<!DOCTYPE html>
<html>
<head>
  <title>RealEstate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<footer>

<br />
<button type='button'>
<%= link_to 'Profile Page', users_path %>
</button>


<button type='button'>
<%= link_to 'Your Agents', sellers_path %>
</button>



<button type='button'>
<%= link_to 'Logout', logout_path %>
</button>

</footer>
</html>
